/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Set root */

:root {
  --color-theme: rgb(0, 0, 128);
  --color-ligt: white;
  --color-bg: rgb(247, 247, 247);
  --color-btn: rgb(0, 0, 128);
  --color-delbtn: rgb(180, 20, 20);
  --color-navbar: #333;
  --color-table: #333;

  background-color: var(--color-bg);
  color: var(--color-dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 1rem;
}

/* Setup dashboard page */

.wrapper {
  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 20% 1fr;
}

.sidebar {
  background-color: rgb(185, 240, 240);
  border-style: solid;
  border-width: 0.1rem;
  border-color: #333;
  max-height: 600px;
}

.flex-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-name {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 1rem;
}

/* Setup lay-out Table */

table {
  width: 100%;
  text-align: left;
}

.table-header {
  background-color: var(--color-table);
  color: var(--color-ligt);
  height: 32px;
}

.header__item {
  padding: 0.15rem;
  gap: 1rem;
}

.item__list {
  background-color: var(--color-ligt);
  padding: 0.5rem;
}
